# Mapbox Public Access Token (Get your free key from https://account.mapbox.com)
EXPO_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoianVuYWlkbWlyMDUxIiwiYSI6ImNtc3l0MWFwNjAzMmsyenNrbW1mMjI0aHcifQ.j8_w_jQUiv26L8QYQVSBVA